params {

    input_paired_1 = "${baseDir}/input/raw/paired_1/*_{1,2,R1,R2}*.fastq*"
    input_paired_2 = "${baseDir}/input/raw/paired_2/*_{1,2,R1_R2}*.fastq*"
    
    /*
       Default 'split_sequence_number' value is 4000000 for a full size fastq input.
       15000 for testing data.
       This value will be ignored when split input option is 'false'
    */
    run_split_input = true
    split_sequence_number = 15000      
    

    /*
        Tophat2 option values
    */    
    anchor_length = 8
    mate_std_dev = 200
    segment_length = 25
        

    /*
    *   If true, the script will download missing a genome file, bowtie indices and an annotation file.
    */
    download_missing_input = true

    input_gtf = "${baseDir}/input/annotation/genes.gtf"
    
    cm_wrapper = "${baseDir}/scripts/cm_wrapper.py"
    
    index = "${baseDir}/input/hg38/hg38"
    
    output_dir = "${baseDir}/output"


}

docker {
    enabled = false
}

process {
    executor 'k8s'
    container = "baekdookim/nextflow@sha256:ef1e1697f774f81f5def970d7d0708fd733b59b3d51c464ad0efbeeb2fd0ab46"
}

trace {
    enabled = false
}

