params {

    input_paired = "${baseDir}/input/raw/*_{1,2,R1,R2}*.fastq*"

    input_gtf = "${baseDir}/input/annotation/genes.gtf"
    
    index = "${baseDir}/input/hg38/hg38"

    macs2_wrapper = "${baseDir}/scripts/macs2_wrapper.py"
    
    output_dir = "${baseDir}/output"

    /*
    	Bowtie2 tool option

    		- Maximum fragment length (default 500)
    */
    max_frag_length = 500


    /*
    	Macs2 tool options

	    	1. p-value (default 0.05)
			2. Effective genome size (default 2700000000)
			3. Band width (default 200)
    */
    pvalue = 0.05
    gsize = 2700000000
    bwidth = 200
}

process {
    container = "baekdookim/nextflow@sha256:ef1e1697f774f81f5def970d7d0708fd733b59b3d51c464ad0efbeeb2fd0ab46"
}