params {

    input_paired_1 = "${baseDir}/input/raw/paired_1/*_{1,2,R1,R2}*.fastq*"
    input_paired_2 = "${baseDir}/input/raw/paired_2/*_{1,2,R1_R2}*.fastq*"

    /*
       Default 'split_sequence_number' value is 4000000 for a full size fastq input.
       15000 for testing data.
       This value will be ignored when split input option is 'false'
    */
    run_split_input = true
    split_sequence_number = 15000

    /*
    *   If true, the script will download missing a genome file, bowtie indices and an annotation file.
    */
    download_missing_input = true

    input_gtf = "${baseDir}/input/annotation/genes.gtf"
    
    cm_wrapper = "${baseDir}/scripts/cm_wrapper.py"

    gen_input_list = "${baseDir}/scripts/gen_input_list.sh"

    prepDE = "${baseDir}/scripts/prepDE.py"

    index = "${baseDir}/input/hg38/hg38"
    
    output_dir = "${baseDir}/output"

    /*
    *   Tools for generating a report
    */
    ref_interactions = "${baseDir}/scripts/reference_interactions.tabular"
    replace_char = "${baseDir}/scripts/replace_char.sh"
    convert_chars = "${baseDir}/scripts/convert_characters.py"
    remove_beginning = "${baseDir}/scripts/remove_beginning.pl"
    assembled_filtering = "${baseDir}/scripts/filtering.py"
    join_tool = "${baseDir}/scripts/join_files.R"
    cut_tool = "${baseDir}/scripts/cut_wrapper.pl"
    arithmetic_operations = "${baseDir}/scripts/tables_arithmetic_operations.pl"
    paste_wrapper = "${baseDir}/scripts/paste_wrapper.pl"
    fixed_value_column = "${baseDir}/scripts/fixedValueColumn.pl"
    merge_column = "${baseDir}/scripts/mergeCols.py"
    easyjoin = "${baseDir}/scripts/easyjoin.pl"
    correlation = "${baseDir}/scripts/cor.py"
    tabular2HTML = "${baseDir}/scripts/tabular2HTML.pl"
    gen_header_detail = "${baseDir}/scripts/gen_header_detail.sh"
    html_header = "${baseDir}/scripts/HTML_header.html"

    /*
    *   Hisat2
    */
    min_ins = 0
    max_ins = 500

    /*
    *   Stringtie
    */
    read_len = 75


}

docker {
    enabled = true
}

process {
    /*
    executor = 'k8s'
    */
    
    /* baekdookim/nextflow:RNAseq-tuxedo-v2 */
    container = "baekdookim/nextflow@sha256:348d34bef206eb9e8c467d811f1d09a9a405ddec1e083d79c9bad283ad32838a"
}

trace {
    enabled = false
}
